	<% if @surl.errors.any? %>
		    <div id="error_explanation">
		      <h2>
		        <%= pluralize(@surl.errors.count, "error") %> prohibited
		        this article from being saved:
		      </h2>
		      <ul>
		        <% @surl.errors.full_messages.each do |msg| %>
		          <li><%= msg %></li>
		        <% end %>
		      </ul>
		    </div>
		  <% end %>