<hr></hr>
<table id="urlTable" class="table table-bordered table-striped">
<thead>
<tr>
	<th>#</th>
	<th>Long URL</th>
	<th>Short URL</th>
</tr>
</thead>

<tbody>
<% i = 0 %>
<% @all_urls.each do |s| %>
	<tr>
		<td><%= i.to_s %></td>
		<td> <%= link_to s.longUrl, s.longUrl %> </p>
		<td> <%= link_to short_url_redirect_url(s.smallUrl), short_url_redirect_url(s.smallUrl) %> </p>
		<% i = i+ 1 %>
	</tr>
<% end %>
</tbody>
</table>


<script type="text/javascript">
	$(document).ready(function() {
    $('#urlTable').DataTable();
} );
</script>