<h1>Listing all short URLs</h1>

<table id="urlTable" class="table table-bordered table-striped">
<thead>
<tr>
	<th>Long URL</th>
	<th>Short URL</th>
</tr>
</thead>

<tbody>
<% @all_urls.each do |s| %>
	<tr>
		<td> <%= s.longUrl %> </p>
		<td> <%= s.smallUrl %> </p>
	</tr>
<% end %>
</tbody>
</table>


<script type="text/javascript">
	$(document).ready(function() {
    $('#urlTable').DataTable();
} );
</script>