
<%= form_for :shorturl , url: shorturls_path, html: {class: 'form-horizontal'} do |f| %>
<% if !@surl.nil? %> 
	<%= render "form_error" %>
<%end %>

	 <%= f.label "longUrl" %>
	 <p>Example http://www.google.com (Please prefix http:// or https://) </p>
	 <div class="input-group">
		<span class="input-group-addon" id="basic-addon1"></span>
		<%= f.text_field :longUrl, :class => "form-control" , "aria-describedby" =>"basic-addon1"%> 
	 </div> <!--input-group -->
	 <p>
	 <br>
	<%= f.submit 'Generate Short Url', :class => 'btn btn-success' %>
<% end %>

<%= render "index" %>
