
<h2>Displaying URL</h2>
<p><%= @short_url.longUrl %></p>
<p> >> </p>
<p> <%= short_url_redirect_url(@short_url.smallUrl) %></p>

<p>[<%= link_to "<<Back", "/" %>]
[<%= link_to "Create Short URL" , new_shorturl_path %> |

   [<%= link_to "Open In new Window" , short_url_redirect_url(@short_url.smallUrl), :target => "_blank" %> ] | 
    <button class='my_clip_button' data-clipboard-target='fe_text' id='d_clip_button' >
    <b>Copy To Clipboard.</b> </button> ] </p>

<textarea cols='50' id='fe_text' rows='3' style="visibility: hidden;"><%= short_url_redirect_url(@short_url.smallUrl) %></textarea>

 <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });

  $("#clear-test").on("click", function(){
    $("#fe_text").val("Copy me!");
    $("#testarea").val("");
  });
</script>