<!DOCTYPE html>
<html>
<head>
  <title>UrlShortner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Turbo URL Shortner</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse">
     
    </nav>
  </div>

</head>

<body>

<div class="container">
	<div class="row">
  		<div class="col-xs-12 col-md-8">
			<%= yield %>
  		</div>
	</div>
</div>

</body>
</html>
